#search-btn {
  cursor: pointer; }

#search-bar {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 38%;
  background-color: #fff;
  box-shadow: 0px 0px 3.5px 2.4px rgba(0, 0, 0, 0.15); }

#search-bar {
  display: none; }

#search-bar input {
  border: 0;
  border-bottom: 1px solid #eee;
  padding: 12px 12px 12px 11%;
  font-size: 26px;
  font-weight: 200; }

.navbar-toggler {
  background-color: #fff; }

.navbar-brand img {
  position: relative;
  top: 14px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: black; }

.no_pad {
  padding: 0px !important; }

.text-black-l {
  color: rgba(255, 255, 255, 0.88); }

.navbar-custom {
  box-shadow: 0px 0px 3.5px 2.4px rgba(0, 0, 0, 0.15);
  padding: 1px 3%; }

.nav-item.active a {
  color: #000;
  font-weight: bold;
  box-shadow: inset 0 -2.6px 0 #f3f200;
  padding-bottom: 3px; }

#navbarsExampleDefault ul li a {
  color: #fff; }

li.nav-item {
  padding: 10px 10px 0px; }

#trip-banner {
  background: url(../assets/background.jpg);
  box-shadow: 0px 0px 3.5px 2.4px rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-position-y: center; }

#trip-banner-in {
  height: 90vh; }

.overlay {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 20%, white 100%);
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

#banner-text {
  z-index: 2; }
  #banner-text .h1, #banner-text .h4 {
    font-weight: 600; }
  #banner-text .h1, #banner-text .h2, #banner-text .h3, #banner-text .h4, #banner-text .h5 {
    color: rgba(255, 255, 255, 0.88); }

.h1, .h2, .h3, .h4, .h5 {
  color: rgba(70, 70, 70, 0.9); }

#banner-txt-cntnr, #search-form-cntnr {
  height: 100%;
  padding-top: 4rem; }

#search-form-in {
  height: 130px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%; }

.form-modal {
  width: 85%;
  margin: 0 auto;
  top: 36%;
  position: absolute;
  left: 0;
  right: 0; }

a.nav-link {
  color: #000; }

#trip-flag {
  color: rgba(43, 43, 239, 0.79); }

#trip-star {
  color: rgba(43, 43, 239, 0.79); }

.trip-sections {
  position: relative;
  padding-top: 3.5em; }

.section-content {
  padding-top: 1.5em; }

.section-content img {
  box-shadow: 0px 0px 3.5px 2.4px rgba(0, 0, 0, 0.15); }

.carousel-text {
  position: relative;
  bottom: 1px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 3.5px 2.4px rgba(0, 0, 0, 0.15);
  padding: 10px; }

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none; }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0); }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }

.carousel-control-prev, .carousel-control-next {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 45%;
  opacity: 1;
  box-shadow: 0px 0px 3.5px 2.4px rgba(0, 0, 0, 0.15); }

.left.carousel-control-prev{
  visibility: hidden;
}
#dest-btn .carousel-control-prev,#dest-btn .carousel-control-next {
  top: 55%;
}

#dest-btn .carousel-control-next {
  right:-2%;
}
#dest-btn .carousel-control-prev{
  left: -2%;
}


/*#exp-btn .carousel-control-prev,#exp-btn .carousel-control-next{

  top:55%;
}
*/

#trip-destinations p {
  position: absolute;
  bottom: 0;
  /* transform: translateY(50%); */
  /* margin: 0 auto; */
  text-align: center;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.88);
  font-weight: 800; }

#trip-destinations img {
  position: relative;
  cursor: pointer; }

#trip-destinations img:hover {
  transform: scale(1.05);
  transition: .2s ease; }

.trip-hosts {
  color: #fff !important; }

.trip-hosts {
  cursor: pointer; }

.trip-hosts .card-block {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  max-height: 100%;
  height: 20%;
  transition: .5s ease; }

.blog-des {
  display: none; }

.host-content {
  line-height: 1; }

#footer-trip a {
  color: rgba(0, 0, 0, 0.55); }

#get-touch input, #get-touch textarea {
  border: 0px;
  box-shadow: 0px 0px 1.5px 1.4px rgba(0, 0, 0, 0.15); }

#get-touch input::placeholder, #get-touch label {
  color: rgba(0, 0, 0, 0.55); }

@media (min-width: 576px) {
  .modal-dialog {
    margin-top: 9% !important; }
  .card:hover .blog-des {
    display: block; }
  .card:hover .card-block {
    height: 100%; }
    #trip-destinations,#trip-experiences{
      overflow: hidden;
    } 


  }

@media (max-width: 575px) {
  html {
    font-size: 12px; }
  #banner-text {
    background: rgba(255, 255, 255, 0.04); }
  .text-black-l, #banner-txt-cntnr .h1, #banner-txt-cntnr .h4 {
    color: rgba(255, 255, 255, 0.88); }
  .carousel-text {
    position: absolute !important;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 92%;
    right: 0;
    box-shadow: none; }
  .carousel-control-prev, .carousel-control-next {
    height: 40px;
    width: 40px; }
  .carousel-control-prev {
    left: 1%; }
  .carousel-control-next {
    right: 1%; }
  .section-content img {
    box-shadow: none; }
  #trip-destinations div {
    padding: 0.5em; }
  .exp-img {
    padding-bottom: 0.9em; }
  #trip-banner-in {
    height: calc(100vh - 5.5rem); }
  #det-modal {
    padding: 0 !important; }
  .navbar-brand img {
    top: 10px; }
  .section-content {
    overflow-x: scroll; }
  .trip-hosts .card-block {
    height: auto; }
  .trip-hosts p {
    margin: 0px; }
    #dest-btn .carousel-control-prev,#dest-btn .carousel-control-next{
      display: none;
    }
     
     }
